.select-default-model {
  width: 60%;
  select {
    max-width: 100%;
    white-space: normal;
    word-break: break-all;
  }
}

.select-compress-model {
  width: 60%;
  select {
    max-width: 100%;
    white-space: normal;
    word-break: break-all;
  }
}
